In [1]:
# classes

In [2]:
class Phone:
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing game")

In [3]:
a1=Phone()

In [4]:
a1.make_call()

I am making a call

In [5]:
a1.play_game()

I am playing game

In [6]:
class Phone:
    def set_color(self,color):
        self.color = color
    def set_cost(self,cost):
        self.cost = cost
    
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing game")

In [7]:
a2= Phone()

In [8]:
a2.set_color("red")

In [9]:
a2.set_cost(10000)

In [11]:
a2.show_color()

'red'

In [12]:
a2.show_cost()

10000

In [13]:
a2.play_game()

I am playing game

In [ ]:
#constructor

In [3]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
        
    def show_details(self):
        print("Name of the employee is-",self.name)
        print("age of the employee is-",self.age)
        print("salary of the employee is-",self.salary)
        print("gender of the employee is-",self.gender)

In [4]:
k=Employee("Harshal",23,10000,"Male")
k.show_details()

Name of the employee is- Harshal
age of the employee is- 23
salary of the employee is- 10000
gender of the employee is- Male

In [23]:
class Vehicle:
    def __init__(self,milege,cost):
        self.milege=milege
        self.cost=cost
        
    def show_car_details(self):
        
        print("Vehicle - info")
        print("milege of vehicle is  - ",self.milege)
        print("cost of the vehicle is- ",self.cost)

In [24]:
v1=Vehicle(60,100000)

In [25]:
v1.show_car_details()

Vehicle - info
milege of vehicle is  -  60
cost of the vehicle is-  100000

In [26]:
class Car(Vehicle):
    def car_name(self):
         print("Name of the car is XYZ")

In [27]:
c1=Car(50,200000)

c1.show_car_details()

Vehicle - info
milege of vehicle is  -  50
cost of the vehicle is-  200000

In [28]:
c1.car_name()

Name of the car is XYZ

In [29]:
#over-riding init method

In [30]:
class Vehicle:
    def __init__(self,milege,cost):
        self.milege=milege
        self.cost=cost
        
    def show_car_details(self):
        
        print("Vehicle - info")
        print("milege of vehicle is  - ",self.milege)
        print("cost of the vehicle is- ",self.cost)

In [35]:
class Car1(Vehicle):
    def __init__(self,milege,cost,tyres,HP):
        super().__init__(milege,cost)
        self.tyres=tyres
        self.HP=HP
        
    def show_car1_details(self):
        print("Car - Info")
        print("Number of Tyres in car",self.tyres)
        print("Number of HP in car",self.HP)

In [36]:
m1=Car1(60,100000,4,999)
m1.show_car_details()

Vehicle - info
milege of vehicle is  -  60
cost of the vehicle is-  100000

In [37]:
m1.show_car1_details()

Car - Info
Number of Tyres in car 4
Number of HP in car 999

In [43]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [44]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [45]:
class Child(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [46]:
my_child=Child()

In [48]:
my_child.assign_string_one("I am the string of parent 1")
my_child.assign_string_two("I am the string of parent 2")
my_child.assign_string_three("I am the string of parent 3")

In [49]:
my_child.show_string_one()

'I am the string of parent 1'

In [50]:
my_child.show_string_two()

'I am the string of parent 2'

In [51]:
my_child.show_string_three()

'I am the string of parent 3'