In [1]:
# string methods

In [2]:
fresh= ("I am Harshal[r]")
fresh

'I am Harshal'

In [4]:
print(len(fresh))

12

In [9]:
print("Length of this string is ",len(fresh))

Length of this string is  12

In [10]:
fresh

'I am Harshal'

In [11]:
print(fresh.strip())

I am Harshal

In [12]:
print(fresh.lower())

i am harshal

In [13]:
print(fresh.upper())

I AM HARSHAL

In [15]:
print(fresh.replace('H','M'))

I am Marshal

In [16]:
#split method

In [22]:
nums= "1,2,3,4,5,6,7,8,9"
print(nums)

1,2,3,4,5,6,7,8,9

In [23]:
print(nums.split(","))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [24]:
fresh

'I am Harshal'

In [25]:
print(fresh.title())

I Am Harshal

In [26]:
print(fresh.swapcase())

i AM hARSHAL

In [27]:
print(fresh.count('a'))

3

In [28]:
print(fresh.endswith('Harshal'))

True

In [30]:
print(fresh.startswith('i'))

False

In [33]:
print(fresh.center(50))

                   I am Harshal

In [34]:
print(fresh.center(50,'-'))

-------------------I am Harshal-------------------

In [36]:
print(fresh.ljust(50,'-'))

I am Harshal--------------------------------------

In [37]:
#string formatting

In [38]:
har= ("Harshal")
har

'Harshal'

In [39]:
a=25
a

25

In [46]:
a1= ("This is {0} {1} ")
a1

'This is {0} {1} '

In [47]:
b= a1.format(har,a)
b

'This is Harshal 25 '

In [49]:
a1=f"this is {har} {a} "
print(a1)

this is Harshal 25

In [50]:
first_name = 'Harshal'

In [51]:
last_name = 'Chavhan'

In [53]:
full = 'My name is {} {}'.format(first_name, last_name)
full

'My name is Harshal Chavhan'

In [54]:
#Type conversion

In [1]:
#loops

In [3]:
l1= ["harshal","Rahul","ganesh","rajesh"]
l1

['harshal', 'Rahul', 'ganesh', 'rajesh']

In [4]:
for i in l1:
    print(i)

harshal
Rahul
ganesh
rajesh

In [5]:
l2=[int,float,"harsh",4,6,3,4,87,66,5,23,12,6.5]

In [6]:
for i in l2:
    if str(i).isnumeric() and i>=6:
        print(i)

6
87
66
23
12

In [7]:
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
list=[12,23,12,34,22,1]
sum=0

for i in list:
    sum=sum+i
    
print("the total is ",sum)

the total is  104

In [11]:
a= int(input("Enter the number"))
for i in range(1,11):
    b=a*i
    print(a,'*',i,'=',b)

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [16]:
list=["peter",'joseph',"ricky",'harshal']
for i in range(len(list)):
    print("hello",(list[i]))

hello peter
hello joseph
hello ricky
hello harshal

In [25]:
#while loop

In [26]:
i=5
while i <10:
    print(i)
    i+=1

5
6
7
8
9